<div class="publisher">
    <div class="header-container">
        <img src='../assets/avatar.png' class={{logoSize}}>
        <div class="title">
            <span>{{publisher.title}}</span>
        </div>
    </div>
    <div class=" content-container">
        {{#if (eq mode "summary")}}

        <div class="info">
            <span>Datasets in this Data Product</span>
        </div>

        {{#each products as |product|}}
        {{ product-grid
            size=gridSize
            title=product.name 
            data=product.productDataSubset
            footer="Sample Rows"
            productID=product.id
        }}
        {{/each}}

        {{else if (eq mode "details")}}

        {{!-- TODO Consider better way to handle cases where a single product is received --}}

        {{ product-grid
            size=gridSize
            title=products.name 
            data=products.data
            footer="Sample Rows"
            productID=product.id
        }}

        {{/if}}
    </div>
</div>

{{yield}}